<div class="container">
    <div class="sidebar">
        <div class="title">
            <img style="width:150px; height:150px; border-radius:50%; overflow:hidden;" src="https://avatars2.githubusercontent.com/u/11348698?v=3&s=460">
            <h1>{{data.name}}的简历</h1>
            <h2>{{data.signature}}</h2>
        </div>
        <ul class="side-info">
            <li class="someRight">
                <dt><i class="icon-bookmark"></i>Contact. 联系方式</dt>
                <dd><i class="icon-mail-alt"></i>邮箱: <a href="mailto:i@html.love" target="_blank">{{data.email}}</a></dd>
                <dd><i class="icon-wechat"></i>微信: DIYgod</dd>
                <dd><i class="icon-qq"></i>QQ: <a href="http://wpa.qq.com/msgrd?v=3&uin={{data.qq}}&site=qq&menu=yes" target="_blank">{{data.qq}}</a></dd>
            </li>
            <li class="someRight">
                <dt><i class="icon-bookmark"></i>Application. 应聘岗位</dt>
                <dd>{{data.applyJob}}</dd>
            </li>
            <li class="skill">
                <dt><i class="icon-bookmark"></i>Tech. 技能点</dt>
                <dd  *ngFor="let tech of techs">
                    <div class="skill-name">{{tech.name}} </div>
                    <div class="skill-bar-wrap">
                         <div class="skill-bar" [style.width]="tech.width + '%'" > </div> 
                    </div>
                </dd>
               
            </li>
        </ul>
        <div class="note">
            <p *ngFor = "let item of mainDes"> {{item}}</p>
        </div>
    </div> 
    <div class="main">
        <ul class="main-info">
            <li class="someRight">
                <dt><i class="icon-bookmark"></i>Basic info. 基本信息</dt>
                <dd><span>个人信息:</span> {{data.userBaseInfo}}</dd>
                <dd><span>教育经历:</span> {{data.educationInfo}}</dd>
                <dd><span>英语水平:</span> {{data.levelOfEnglish}}</dd>
                <dd *ngIf="data.nickName!=''"><span>常用ID:</span> {{data.nickName}}</dd>
                <dd *ngIf="data.blogUrl!=''"><span>Blog:</span> <a href="{{data.blogUrl}}" target="_blank">{{data.blogUrl}}</a></dd>
                <dd *ngIf="data.githubUrl!=''"><span>GitHub:</span> <a href="{{data.githubUrl}}" target="_blank">{{data.githubUrl}}</a></dd>
            </li>
            <li>
                <dt><i class="icon-bookmark"></i>Experience. 项目与工作经验</dt>
                <h3>cooka 网络科技有限公司(2015.1 - 2016.5.19)</h3>
                <ul class="exp">
                    <li>
                        <div class="circle"></div>
                        <h4>cooka商场系统</h4>
                        <p>这是我和小伙伴从零开始的项目，去年完成了cooka 跨境电商项目(B2B项目)，之后，在此商城的基础上，开发了移动web app ，微信商场应用</p>
                        <p>我全程负责了系统用户模块、购物车模块、风控模块、运费模块、权限模块、统计模块、安全中心模块的后台设计与开发。主要用到spring boot、mybatis、shiro、velocity等技术。</p>
                        <p>对于系统用到的其它技术，如搜索用到的spring-data-solr，分布式文件系统FastDFS，也有所了解</p>
                        <img src="img/cooka1.png">
                        <img src="img/cooka3.png">
                    </li>
                </ul>
                <h3>个人项目</h3>
                <ul class="exp">
                    <li>
                        <div class="circle"></div>
                        <h4>
                            知乎爬虫
                            <a href="https://github.com/DIYgod/APlayer" target="_blank"><i class="icon-link"></i>源代码</a>
                            <a href="https://www.anotherhome.net/file/APlayer/" target="_blank"><i class="icon-link"></i>Demo</a>
                        </h4>
                        <p>空闲时为学习爬虫时所编写，使用到webmagic、spring-boot、百度echart、redis 等技术，做的数据抓取并且 用图表可视化显示</p>
                        <img src="img/zhihu2.png">
                    </li>
                    <li>
                        <div class="circle"></div>
                         <h4>
                            晨曦androi app 应用
                            <a href="https://github.com/DIYgod/Amativeness" target="_blank"><i class="icon-link"></i>源代码</a>
                            <a href="https://www.anotherhome.net" target="_blank"><i class="icon-link"></i>Demo</a>
                        </h4>
                        <p>一款以关注私人健康为目标的app，一个学校团队的合作项目，团队唯一编码人，涵盖登陆注册、带三方登陆、新 闻资讯、计步器等功能模块，使用jwt进行身份认证与数据传输。 </p>
                        <img src="img/chenxi.png">
                        
                    </li>
                    <li>
                        <div class="circle"></div>
                        <h4>
                            java 远程监控软件
                        </h4>
                        <p>这是一个有趣的java GUI 软件，是大学期间模拟实验室屏幕监控软件所做。分为客户端和服务端，服务端可以监控多个客户端，并实现了远程控制、文件发送、举手提问等功能</p>
                            <img src="img/pmjk.png">
                    </li>
                    <li>
                        <div class="circle"></div>
                        <h4>
                            百度IFE前端技术学院课程（2015.4 - 2015.6）
                            <a href="https://github.com/DIYgod/ife-work" target="_blank"><i class="icon-link"></i>源代码</a>
                        </h4>
                        <p>学习百度IFE前端技术学院春季班课程，并独立完成其中的任务</p>
                        <ul class="efe">
                            <li>
                                <h5>
                                    Task 0001
                                    <a href="https://github.com/DIYgod/ife-work/tree/master/task0001" target="_blank"><i class="icon-link"></i>源代码</a>
                                    <a href="https://www.anotherhome.net/file/ife/task0001/" target="_blank"><i class="icon-link"></i>Demo</a>
                                </h5>
                                <p>实现了一个个人博客网站的首页、文章、作品、关于等静态页面，合理运用HTML语义化标签，并实现了多栏布局、瀑布流布局、时间轴等布局样式。</p>
                                <img src="img/task0001.png">
                            </li>
                            <li>
                                <h5>
                                    Task 0002
                                    <a href="https://github.com/DIYgod/ife-work/tree/master/task0002" target="_blank"><i class="icon-link"></i>源代码</a>
                                    <a href="https://www.anotherhome.net/file/ife/task0002/task0002_1.html" target="_blank"><i class="icon-link"></i>Demo</a>
                                </h5>
                                <p>实现了一个微型JS库，其中包括对原生 JavaScript 数据类型及语言基础、DOM、事件、BOM、Ajax等的操作和封装，并运用这个JS库实现了表单输入交互、倒计时工具、轮播图、输入提示框、界面拖拽交互</p>
                                <img src="img/task0002.png">
                            </li>
                            <li>
                                <h5>Task 0003 0004
                                    <a href="https://github.com/DIYgod/ife-work/tree/master/task0004" target="_blank"><i class="icon-link"></i>源代码</a>
                                    <a href="https://www.anotherhome.net/file/ife/task0004/" target="_blank"><i class="icon-link"></i>Demo</a>
                                </h5>
                                <p>实现了一个 GTD Tools (个人任务管理系统)，支持任务两级分类、增删查改、标记、根据日期分类等功能，并实现了一个独立的移动版本</p>
                                <p>使用 localStorage 来保存用户的任务数据，处理了可能出现的 XSS 安全隐患，使用 原生JavaScript Less预处理器 来实现前端组件及数据交互，使用 Yeoman Grunt 改进工作流</p>
                                <img src="img/task0003.png">
                                <img src="img/task0004.png" height="97px">
                            </li>
                        </ul>
                    </li>
                    <!-- <li>
                        <div class="circle"></div>
                        <h4>
                            HTML.LOVE 个人简历（2015.8 - 至今）
                            <a href="https://github.com/DIYgod/Resume" target="_blank"><i class="icon-link"></i>源代码</a>
                            <a href="http://html.love/" target="_blank"><i class="icon-link"></i>Demo</a>
                        </h4>
                        <p>设计优雅、内容完善的静态简历页面，可以用浏览器直接生成合适尺寸的PDF，使用 Gulp 改进工作流，GitHub 上 Star 133 Fork 33</p>
                        <img src="img/resume.png">
                    </li>
                    <li>
                        <div class="circle"></div>
                        <h4>
                            jCarrousel（2015.8）
                            <a href="https://github.com/DIYgod/jCarrousel" target="_blank"><i class="icon-link"></i>源代码</a>
                            <a href="https://www.anotherhome.net/file/jCarrousel/" target="_blank"><i class="icon-link"></i>Demo</a>
                        </h4>
                        <p>一个3D轮播图 jQuery  插件，实现了3D轮播效果，可以自适应宽度、自适应图片数量，有方便的切换按钮，另外实现了播放、停止、切换到任意一张图片的API</p>
                        <img src="img/jCarrousel.jpg">
                    </li> -->
                    <!-- <li>
                        <div class="circle"></div>
                        <h4>
                            Do-you-like-me（2015.9）
                            <a href="https://github.com/DIYgod/Do-you-like-me" target="_blank"><i class="icon-link"></i>源代码</a>
                            <a href="https://www.anotherhome.net/file/like/" target="_blank"><i class="icon-link"></i>Demo</a>
                        </h4>
                        <p>一个简单有趣的 UI 点赞组件，后端使用 NodeJS + MongoDB 实现，用 mongoose 操作 MongoDB，实现了对 MongoDB 数据库简单的增删查改</p>
                        <img src="img/Do-you-like-me.png">
                    </li> -->
                    <!-- <li>
                        <div class="circle"></div>
                        <h4>
                            EasyGoAgent
                            <a href="https://github.com/DIYgod/EasyGoAgent" target="_blank"><i class="icon-link"></i>源代码</a>
                        </h4>
                        <p>开箱即用 & 在线更新的GoAgent，GitHub 上 Star 209 Fork 70</p>
                    </li>
                    <li>
                        <div class="circle"></div>
                        <h4>
                            Show Me the Code Python version
                            <a href="https://github.com/DIYgod/python/tree/master/DIYgod" target="_blank"><i class="icon-link"></i>源代码</a>
                        </h4>
                        <p>一系列Python小程序，包括 图像处理 数据库 文件操作 正则式 等内容</p>
                    </li>
                    <li>
                        <div class="circle"></div>
                        <h4>
                            Simple-C Compiler
                            <a href="https://github.com/DIYgod/Compiler" target="_blank"><i class="icon-link"></i>源代码</a>
                        </h4>
                        <p>一个用C编写的简单类C语言编译器，目前完成了 词法分析 语法分析 阶段，使用了 Lex Yacc 两个工具</p>
                    </li> -->
                    <!-- <li>
                        <div class="circle"></div>
                        <h4>
                            WHUTNews
                            <a href="https://github.com/DIYgod/WHUTNews" target="_blank"><i class="icon-link"></i>源代码</a>
                        </h4>
                        <p>Python 编写的爬取教务处公告，判断是否有新通知，并把新通知发邮件提醒的简单 Python 爬虫程序</p>
                    </li> -->
                </ul>
            </li>
            <li>
                <dt><i class="icon-bookmark"></i>Skill. 技能清单</dt>
                <h3>后端</h3>
                <ul class="exp">
                    <li>
                        <div class="circle"></div>
                        <h4>语言</h4>
                        <p>熟悉Java及现今其流行技术栈：spring-boot、spring mvc 、mybatis、shiro、spring data jpa。使用过dubbo、active mq、zookeeper</p>
                        <p>熟悉android 技术栈，能够完成简单app应用机器后台搭建。</p>
                        <p>了解php，曾用php对国外开源电商系统cscart进行二次开发。</p>
                        <p>了解 Python，使用过scrapy爬虫框架编写爬虫。</p>
                    </li>
                    <li>
                        <div class="circle"></div>
                        <h4>环境</h4>
                        <p>熟悉 Linux 开发环境、 Linux 服务器环境搭建部署，两年 Linux 日常使用经验</p>
                        <p>了解 Apache Nginx web服务器，一年多建站经验</p>
                    </li>
                </ul>
                <h3>Web前端</h3>
                <ul class="exp">
                    <li>
                        <div class="circle"></div>
                        <h4>HTML / CSS </h4>
                        <p>能够编写语义化的 HTML，模块化的 CSS，完成较复杂的布局</p>
                        <p>了解 Less / Sass  等CSS预处理和后处理方法、工具</p>
                    </li>
                    <li>
                        <div class="circle"></div>
                        <h4>JavaScript</h4>
                        <p>熟悉原生Javascript，能脱离jQuery等类库编码</p>
                        <p>能运用模块化、面向对象的方式编程</p>
                        <p>了解 RequireJS jQuery AngularJS 的使用</p>
                    </li>
                    <li>
                        <div class="circle"></div>
                        <h4>其他</h4>
                        <p>熟悉 Yeoman Bower Grunt Gulp 前端自动化工具</p>
                        <p>了解前端安全、性能优化方面的一些知识</p>
                    </li>
                </ul>
                
                <h3>其他</h3>
                <ul class="exp">
                    <li>
                        <p *ngFor = "let item of otherDes"> {{item}}</p>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<footer>
    <p>Theme by <a href="https://github.com/DIYgod/Resume" target="_blank">DIYgod</a>. Made with <i class="icon-heart throb" style="color: #d43f57;"></i> by {{data.nickName}}. 最后更新于2016年3月1日</p>
</footer>
