 <div class="container">
    <div class="sidebar">
        <div class="title">
            <!--<img style="width:150px; height:150px; border-radius:50%; overflow:hidden;" src="https://avatars2.githubusercontent.com/u/11348698?v=3&s=460">-->
                        <img style="width:150px; height:150px; border-radius:50%; overflow:hidden;" src="https://www.lgstatic.com/i/image/M00/31/93/CgqKkVdLvxOAUdThAANNTqDG-ag427.png">

            <h1>{{profile.name}}的简历</h1>
            <h2>{{profile.signature}}</h2>
        </div>
        <ul class="side-info">
            <li class="someRight">
                <dt><i class="icon-bookmark"></i>Basic info. 基本信息</dt>
                <dd><span>个人信息:</span> {{profile.userBaseInfo}}</dd>
                <dd><span>教育经历:</span> {{profile.educationInfo}}</dd>
                <dd><span>英语水平:</span> {{profile.levelOfEnglish}}</dd>
                <!--<dd *ngIf="profile.nickName!=''"><span>常用ID:</span> {{profile.nickName}}</dd>-->
                <dd *ngIf="profile.blogUrl!=''"><span>Blog:</span> <a href="{{profile.blogUrl}}" target="_blank">{{profile.blogUrl}}</a></dd>
                <dd *ngIf="profile.githubUrl!=''"><span>GitHub:</span> <a href="{{profile.githubUrl}}" target="_blank">{{profile.githubUrl}}</a></dd>
            </li>

            <li class="someRight">
                <dt><i class="icon-bookmark"></i>Contact. 联系方式</dt>
                <dd *ngIf="profile.email!=''"><i class="icon-mail-alt"></i>邮箱: <a href="mailto:i@html.love" target="_blank">{{profile.email}}</a></dd>
                <dd *ngIf="profile.weixin!=''"><i class="icon-wechat"></i>微信: {{profile.weixin}}</dd>
                <dd  *ngIf="profile.phone!=''"><i class="icon-phone-1"></i>手机: {{profile.phone}}</dd>
                <dd *ngIf="profile.qq!=''"><i class="icon-qq"></i>QQ: <a href="http://wpa.qq.com/msgrd?v=3&uin={{profile.qq}}&site=qq&menu=yes" target="_blank">{{profile.qq}}</a></dd>
            </li>
            <li class="someRight">
                <dt><i class="icon-bookmark"></i>Application. 应聘岗位</dt>
                <dd>{{profile.applyJob}}</dd>
            </li>
            <!-- <li class="skill">
                <dt><i class="icon-bookmark"></i>Tech. 技能点</dt>
                <dd  *ngFor="let tech of techs">
                    <div class="skill-name">{{tech.name}} </div>
                    <div class="skill-bar-wrap">
                         <div class="skill-bar" [style.width]="tech.width + '%'" > </div>
                    </div>
                </dd>
            </li> -->
            
            <!--<li *ngIf="profile.pcResume!=''" class="someRight">
                <dt><i class="icon-bookmark"></i>Detail resume online. 简历在线</dt>
                <dd *ngIf="profile.pcResume!=''"><span></span><a href="{{profile.pcResume}}" target="_blank">{{profile.pcResume}}</a></dd>
                <dd *ngIf="profile.mobileResume!=''"><span>手机端:</span><a href="{{profile.mobileResume}}" target="_blank">{{profile.mobileResume}}</a> </dd>
            </li>-->
        </ul>
        <div class="note">
            <p *ngFor = "let item of mainDes"> {{item}}</p>
        </div>
         <div class="qr">
            <div class="qr-in">
                <img src="img/psb.jpg">
                <p>微信二维码</p>
            </div>
        </div> 
    </div>
    <div class="main">
        <ul class="main-info">
            <!-- <li class="someRight">
                <dt><i class="icon-bookmark"></i>Basic info. 基本信息</dt>
                <dd><span>个人信息:</span> {{profile.userBaseInfo}}</dd>
                <dd><span>教育经历:</span> {{profile.educationInfo}}</dd>
                <dd><span>英语水平:</span> {{profile.levelOfEnglish}}</dd>
                <dd *ngIf="profile.nickName!=''"><span>常用ID:</span> {{profile.nickName}}</dd>
                <dd *ngIf="profile.blogUrl!=''"><span>Blog:</span> <a href="{{profile.blogUrl}}" target="_blank">{{profile.blogUrl}}</a></dd>
                <dd *ngIf="profile.githubUrl!=''"><span>GitHub:</span> <a href="{{profile.githubUrl}}" target="_blank">{{profile.githubUrl}}</a></dd>
            </li> -->
            <li>
                <dt><i class="icon-bookmark"></i>Experience. 项目与工作经验</dt>
                  <div *ngFor="let comPro of companyProjects"> 
                    <h3>{{comPro.companyName}}</h3>
                    <ul class="exp">
                        <li *ngFor="let pro of comPro.project">
                            <div class="circle"></div>
                            <h5>
                                {{pro.name}}
                                 <a  *ngIf="pro.codeUrl!=''" href="{{pro.codeUrl}}" target="_blank"><i class="icon-link"></i>源代码</a>
                                <a *ngIf="pro.demoUrl!=''"  href="{{pro.demoUrl}}" target="_blank"><i class="icon-link"></i>Demo</a>
                            </h5>
                            <p *ngFor="let item of pro.descriptions">   {{item}}  </p>
                            <!-- <img  *ngFor="let img of pro.images" src="{{img}}"> -->
                        </li>
                    </ul>
                </div>  
                <h3>开源项目</h3>
                <ul class="exp">
                    <li *ngFor="let pro of personalProjects"> 
                        <div class="circle"></div>
                        <h5>
                            {{pro.name}}
                             <a  *ngIf="pro.codeUrl!=''" href="{{pro.codeUrl}}" target="_blank"><i class="icon-link"></i></a>
                            <a *ngIf="pro.demoUrl!=''"  href="{{pro.demoUrl}}" target="_blank"><i class="icon-link"></i>Demo</a>
                        </h5>
                        <p *ngFor="let item of pro.descriptions"> {{item}}</p>
                      <!--   <img  *ngFor="let img of pro.images" src="{{img}}"> -->
                    </li>
                </ul>
            </li>
            <li>
                <dt><i class="icon-bookmark"></i>Skill. 技能清单</dt>
                <div *ngFor = "let skill of skills" >
                    <h3> {{skill.type}} </h3>
                    <ul class="exp">
                        <li *ngFor= "let skillItem of skill.skillItems" >
                            <div class="circle"> </div>
                            <h5> {{skillItem.name}} </h5>
                            <p *ngFor = "let item of skillItem.descriptions" > {{item}}  </p>
                        </li>
                    </ul>
                </div>
                
            </li>
           <!--<li>
                <dt><i class="icon-bookmark"></i>Introduce. 简单介绍</dt>
                  <h3>其他</h3>  
                <ul class="exp">
                    <li>
                        <p *ngFor = "let item of otherDes"> {{item}}</p>
                    </li>
                </ul>
            </li> -->
        </ul>
    </div>
</div>
 
